body{
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: Helvetica;
    overflow-y: scroll;
    overflow-y: visible;
    overflow-x: hidden;
    background-color: black;
    font-family: Helvetica Neue LT,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}


.fondo{
    background-color: #fff;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    height: 150%;
}

/*====================seccion 1=============================*/
.seccion1{
    background-color: #003360;
    position: relative;
    height: 15%;
    align-content: center;
    background-image: url(../img/logos/LucemAspicioAmarillo.png);
    background-repeat: no-repeat;
    background-size: 11%;
    background-position-x: 100%;
    background-position-y: 100%;
}
#logo{
 position: relative;
 width: 45%;
 float: left;
 margin-top: 4%;
}

#texto1{
    position: absolute;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-left:50%;
    margin-top: 7%;
    font-size: 1.8em;
}

/*====================navbar=============================*/
.navbar{
    background-color: #183F60 !important;
    margin-top: 0.5%;
}

.menus a{
    color: #fff !important;
    font-size: 14px;
    font-weight: 550;
}

.menus >li{
    display: inline-block;
    position: relative;
}
.menus >li >a{
    display: block;
    padding: 5px 30px;
    color: #0000 ;
    text-decoration: none;
}
.menus li a:hover{
color: #FDED07 !important;
}


.submenu{
    position: absolute;
    background: #183F60;
    color: #183F60 !important;
    font-weight: bold;
    width: 100%;
   visibility: hidden;
   padding: 10px 15px;
}

.submenu li a{
    display: in-block; 
    padding: 5px;
    color: #1DA1F2;
    text-decoration: none;
    position: absolute;
}
.submenu li a:hover{
    display: in-block; 
    padding: 5px;
    color: #BFCBD6 !important;
    text-decoration: none;
}
.menus li:hover .submenu{
 color:#fff;
 visibility: visible;
}

.button-style{
    border: none;
    
}


/*====================seccion 2=============================*/
.cupos{
    margin: 3% 7%;
}

.border-info{
    border-color: #003360;
    border-width: 5px;
}

.avisos{
    
    background-color: #FFCB08;
    border-color: #003360;
    border-width: 5%;
    height: 40%;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    text-align: center;
}

#aviso{
    color: rgb(230, 181, 6); 
    font-weight:bold
}

#pagos {
color: #003360;
margin: 8%;
font-weight: bold;
}

.calendario{
    
    background-color: #003360;
    border-color: #003360;
    border-width: 5%;
    height: 40%;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    text-align: center;
}

#calendario {
    color: #b3d2ec;
    font-weight: bold;
    padding-top: 5%;
    font-size: 1.5em;
    }

#linea1{
    height: 2px;
    width: 8%;
    background-color: #b3d2ec;
}

/*====================solicitud readmitidos=============================*/
.solicitud{
    background-color:#FFFFCC;
    border-width: 5%;
    height: 35%;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    color: #003360;
}

#titulo-solicitud{
    font-weight: bold; 
    font-size: 1.5em; 
    text-align: center;
}

#llenar-solicitud a{
    margin-left:3%; 
    margin-top:5%;
    color: black;
}

/*==================== avisos generales=============================*/
.avisos-generales{
    
    background-color: #FFCB08;
    border-color: #003360;
    border-width: 5%;
    height: 40%;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    text-align: center;
}


/*====================seccion footer=============================*/
.footer{
    background-color: #003360;
    background-image: url(../img/logos/footer-unah.png);
    height: 10%;
    color: #fff;
    text-align: center;
}

.botones{
 padding: 3%;
}

.btn-outline-warning{
    height: 5%;
    width: 22%;
}
#parrafo, #parrafo2{
    
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
#table1{
    margin-left: auto;
    margin-right: auto;
}
 #info{
    
     margin: 0 0 0 0;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 section{
     background-color: #006699;
     color: #fff;
     border-radius: 1px;
     margin: 35px 5px 2px 5px;
 }

 h4{
color: #d56600;
margin: 2% 2% 0 2%;

height: 15px;
font-size: 16px;
}
strong{
    margin-left: 2%;
margin-right: 2%;
font-size: 12px;
}
