body{
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: Helvetica;
    overflow-y: scroll;
    overflow-y: visible;
    overflow-x: hidden;
    background-color: black;
    font-family: Helvetica Neue LT,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.fondo{
    background-color: #fff;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    height: 291%;
}

/*====================seccion 1=============================*/
.seccion1{
    background-color: #003360;
    position: relative;
    height: 8%;
    align-content: center;
    background-image: url(../img/logos/LucemAspicioAmarillo.png);
    background-repeat: no-repeat;
    background-size: 11%;
    background-position-x: 100%;
    background-position-y: 100%;
}
#logo{
 position: relative;
 width: 45%;
 float: left;
 margin-top: 4%;
}

#texto1{
    position: absolute;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-left:50%;
    margin-top: 7%;
    font-size: 1.8em;
}

/*====================navbar=============================*/
.navbar{
    background-color: #183F60 !important;
    margin-top: 0.5%;
}

.menus a{
    color: #fff !important;
    font-size: 14px;
    font-weight: 550;
}

.menus >li{
    display: inline-block;
    position: relative;
}
.menus >li >a{
    display: block;
    padding: 5px 30px;
    color: #0000 ;
    text-decoration: none;
}
.menus li a:hover{
color: #FDED07 !important;
}


.submenu{
    position: absolute;
    background: #183F60;
    color: #183F60 !important;
    font-weight: bold;
    width: 100%;
   visibility: hidden;
   padding: 10px 15px;
}

.submenu li a{
    display: in-block; 
    padding: 5px;
    color: #1DA1F2;
    text-decoration: none;
    position: absolute;
}
.submenu li a:hover{
    display: in-block; 
    padding: 5px;
    color: #BFCBD6 !important;
    text-decoration: none;
}
.menus li:hover .submenu{
 color:#fff;
 visibility: visible;
}

.button-style{
    border: none;
    
}

/*========================seccion 2========================*/
fieldset.login { 
    text-align: left;
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.borde{
    width:inherit; 
    padding:0 10px; 
    border-bottom:none;
    font-size: 0.95em;
}

#form1{
    margin: 10% 35%;
}
